{% extends 'base.html'%}

    {% block content %}

    <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">IT'S About US</h1>
                    <p class="lead fw-normal text-white-50 mb-0">learn about us!</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                    <p  align="justify">
                    <br/><br/>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum scelerisque urna at erat mattis, nec consequat eros finibus. Sed venenatis sapien tellus, a placerat sapien sodales ut. Donec convallis magna nibh, id condimentum odio venenatis nec. Maecenas at magna nunc. Donec iaculis commodo nisi sit amet dignissim. Nullam pellentesque ipsum nec tortor lacinia volutpat. Donec sit amet egestas metus. Pellentesque a orci bibendum, ultrices tortor ac, elementum tellus. Nulla ut nibh vitae tortor aliquet ultrices vitae at dui. Vestibulum ultrices metus vel metus tincidunt commodo. Vivamus ut aliquam nisi. Donec non magna volutpat lacus auctor tempus.
<br/><br/>
Proin in mollis arcu. Donec augue leo, molestie eu diam quis, fermentum tristique dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan fermentum sem in lacinia. Aenean non lacinia nunc. Pellentesque et dolor volutpat lacus semper euismod et auctor risus. Mauris ut dolor interdum, sollicitudin dolor aliquam, dictum elit. Duis ut massa convallis, convallis tortor ac, volutpat libero. Curabitur luctus faucibus eros, id tincidunt ipsum fermentum at. Proin ante erat, pretium sit amet nulla dapibus, malesuada sollicitudin lectus. Praesent porttitor, lacus a gravida ornare, turpis purus aliquet enim, commodo hendrerit neque dolor non leo. Morbi accumsan ante eu metus accumsan, at aliquet magna cursus. Morbi ac urna eu neque finibus varius. Aenean eleifend purus odio. Aliquam vitae sem felis.
<br/><br/>
Curabitur viverra massa ut est feugiat volutpat ut at diam. Cras pharetra, nisl nec cursus efficitur, justo justo gravida enim, at egestas orci urna sit amet quam. Aenean neque lectus, semper condimentum egestas hendrerit, sagittis interdum dolor. Vestibulum blandit egestas purus. Praesent molestie dolor eget sapien condimentum lacinia. Nulla ac ex sit amet ex vehicula bibendum non et nisl. Donec gravida euismod aliquam. Quisque faucibus magna at libero maximus, a pharetra tortor efficitur. Duis sodales id nunc vel imperdiet. Ut vel tortor semper, lacinia justo sed, rutrum nibh. Fusce ut augue mauris. Donec consequat lacus nec ligula consectetur, eget viverra erat ullamcorper. Donec ac egestas urna. Nulla viverra, odio id condimentum fringilla, lorem risus semper lectus, quis ullamcorper arcu ex tincidunt risus. Curabitur aliquet odio varius pellentesque hendrerit.
                    <br/><br/>
                    </P>
                    </div>
                </center>
            </div>
        </div>

    {% endblock%}